@{
    string next = Blog.GetNextPage();
    string prev = Blog.GetPrevPage();
}
<!doctype html>
<html lang="en-us">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <title>@Page.Title</title>
    <meta name="description" content="@Blog.Description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

    <link type="application/rsd+xml" rel="edituri" title="RSD" href="~/views/robots/rsd" />
    <link type="application/rss+xml" rel="alternate" title="@Blog.Title" href="~/feed/rss/" />
    <link type="application/atom+xml" rel="alternate" title="@Blog.Title" href="~/feed/atom/" />

    <link rel="stylesheet" href="@Blog.FingerPrint("/themes/" + Blog.Theme + "/style/site.css")" />
    <link rel="shortcut icon" href="@Blog.FingerPrint("/favicon.ico")" type="image/x-icon" />
    <link rel="dns-prefetch" href="http://gravatar.com/" />

    @AdminCss()

    <meta name="application-name" content="@Blog.Title" />
    <meta name="msapplication-TileColor" content="#ffffff" />

    <meta property="og:title" content="@Page.Title" />
    <meta property="og:image" content="@Blog.Image" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@(Request.Url.Scheme +"://" + Request.Url.Authority + Request.RawUrl)" />
    @if (!string.IsNullOrEmpty(prev))
    {
        <link rel="prev" href="@prev" />
    }
    @if (!string.IsNullOrEmpty(next))
    {
        <link rel="next" href="@next" />
    }
</head>
<body itemscope itemtype="http://schema.org/Blog" class="@(User.Identity.IsAuthenticated ? "admin": null)">
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>
    <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>

    <div class="container main-container">

        <div class="row header">
            <!-- Begin Header -->
            <!-- Logo
            ================================================== -->
            <div class="span5 logo">
                <a href="index.htm"><img src="img/piccolo-logo.png" alt="" /></a>
                <h5>@Blog.Title - @Blog.Description</h5>
            </div>

            <!-- Main Navigation
            ================================================== -->
            <div class="span7 navigation">
                <div class="navbar hidden-phone">

                    <ul class="nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="index.htm">Home <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="index.htm">Full Page</a></li>
                                <li><a href="index-gallery.htm">Gallery Only</a></li>
                                <li><a href="index-slider.htm">Slider Only</a></li>
                            </ul>
                        </li>
                        <li><a href="features.htm">Features</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="page-full-width.htm">Pages <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="page-full-width.htm">Full Width</a></li>
                                <li><a href="page-right-sidebar.htm">Right Sidebar</a></li>
                                <li><a href="page-left-sidebar.htm">Left Sidebar</a></li>
                                <li><a href="page-double-sidebar.htm">Double Sidebar</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="gallery-4col.htm">Gallery <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="gallery-3col.htm">Gallery 3 Column</a></li>
                                <li><a href="gallery-4col.htm">Gallery 4 Column</a></li>
                                <li><a href="gallery-6col.htm">Gallery 6 Column</a></li>
                                <li><a href="gallery-4col-circle.htm">Gallery 4 Round</a></li>
                                <li><a href="gallery-single.htm">Gallery Single</a></li>
                            </ul>
                        </li>
                        <li class="dropdown active">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="blog-style1.htm">Blog <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-style1.htm">Blog Style 1</a></li>
                                <li><a href="blog-style2.htm">Blog Style 2</a></li>
                                <li><a href="blog-style3.htm">Blog Style 3</a></li>
                                <li><a href="blog-style4.htm">Blog Style 4</a></li>
                                <li><a href="blog-single.htm">Blog Single</a></li>
                            </ul>
                        </li>
                        <li><a href="page-contact.htm">Contact</a></li>
                    </ul>

                </div>

                <!-- Mobile Nav
                ================================================== -->
                <form action="#" id="mobile-nav" class="visible-phone">
                    <div class="mobile-nav-select">
                        <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                            <option value="">Navigate...</option>
                            <option value="index.htm">Home</option>
                            <option value="index.htm">- Full Page</option>
                            <option value="index-gallery.htm">- Gallery Only</option>
                            <option value="index-slider.htm">- Slider Only</option>
                            <option value="features.htm">Features</option>
                            <option value="page-full-width.htm">Pages</option>
                            <option value="page-full-width.htm">- Full Width</option>
                            <option value="page-right-sidebar.htm">- Right Sidebar</option>
                            <option value="page-left-sidebar.htm">- Left Sidebar</option>
                            <option value="page-double-sidebar.htm">- Double Sidebar</option>
                            <option value="gallery-4col.htm">Gallery</option>
                            <option value="gallery-3col.htm">- 3 Column</option>
                            <option value="gallery-4col.htm">- 4 Column</option>
                            <option value="gallery-6col.htm">- 6 Column</option>
                            <option value="gallery-4col-circle.htm">- Gallery 4 Col Round</option>
                            <option value="gallery-single.htm">- Gallery Single</option>
                            <option value="blog-style1.htm">Blog</option>
                            <option value="blog-style1.htm">- Blog Style 1</option>
                            <option value="blog-style2.htm">- Blog Style 2</option>
                            <option value="blog-style3.htm">- Blog Style 3</option>
                            <option value="blog-style4.htm">- Blog Style 4</option>
                            <option value="blog-single.htm">- Blog Single</option>
                            <option value="page-contact.htm">Contact</option>
                        </select>
                    </div>
                </form>

            </div>

        </div><!-- End Header -->
 

        <!-- Blog Content
        ================================================== -->
        <div class="row">
            <div class="span8 blog">
                @RenderBody()

                @if (Page.ShowPaging != null)
                {


                    <div class="pagination">


                        @*<ul>
                        <li class="active"><a href="#">Prev</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>*@


                        <ul>

                            @if (Blog.GetPosts().Count() > Blog.PostsPerPage * Blog.CurrentPage)
                            {
                                <li class="previous"><a href="@Blog.GetPagingUrl(1)" rel="prev">&larr; Older</a></li>
                            }

                            @if (Blog.CurrentPage > 1)
                            {
                                <li class="next"><a href="@Blog.GetPagingUrl(-1)" rel="next">Newer &rarr;</a></li>
                            }
                        </ul>
                    </div>
                }

                <!-- Blog Posts
        ================================================== -->
                <!-- Blog Post 1 -->
                <article>
                    <h3 class="title-bg"><a href="blog-single.htm">A subject that is beautiful in itself</a></h3>
                    <div class="post-summary">
                        <a href="blog-single.htm"><img src="img/gallery/post-img-1.jpg" alt="Post Thumb"></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat. Nam sit amet felis non lorem faucibus rhoncus vitae id dui.</p>
                        <div class="post-summary-footer">
                            <button class="btn btn-small btn-inverse" type="button">Read more</button>
                            <ul class="post-data">
                                <li><i class="icon-calendar"></i> 09/04/15</li>
                                <li><i class="icon-user"></i> <a href="#">Admin</a></li>
                                <li><i class="icon-comment"></i> <a href="#">5 Comments</a></li>
                                <li><i class="icon-tags"></i> <a href="#">photoshop</a>, <a href="#">tutorials</a>, <a href="#">illustration</a></li>
                            </ul>
                        </div>
                    </div>
                </article>

                <!-- Blog Post 2 -->
                <article>
                    <h3 class="title-bg"><a href="blog-single.htm">A great artist is always before his time</a></h3>
                    <div class="post-summary">
                        <a href="blog-single.htm"><img src="img/gallery/post-img-1.jpg" alt="Post Thumb"></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat. Nam sit amet felis non lorem faucibus rhoncus vitae id dui.</p>
                        <div class="post-summary-footer">
                            <button class="btn btn-small btn-inverse" type="button">Read more</button>
                            <ul class="post-data">
                                <li><i class="icon-calendar"></i> 09/04/15</li>
                                <li><i class="icon-user"></i> <a href="#">Admin</a></li>
                                <li><i class="icon-comment"></i> <a href="#">5 Comments</a></li>
                                <li><i class="icon-tags"></i> <a href="#">photoshop</a>, <a href="#">tutorials</a>, <a href="#">illustration</a></li>
                            </ul>
                        </div>
                    </div>
                </article>

                <!-- Blog Post 3 -->
                <article>
                    <h3 class="title-bg"><a href="blog-single.htm">Is art everything to anybody?</a></h3>
                    <div class="post-summary">
                        <a href="blog-single.htm"><img src="img/gallery/post-img-1.jpg" alt="Post Thumb"></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat. Nam sit amet felis non lorem faucibus rhoncus vitae id dui.</p>
                        <div class="post-summary-footer">
                            <button class="btn btn-small btn-inverse" type="button">Read more</button>
                            <ul class="post-data">
                                <li><i class="icon-calendar"></i> 09/04/15</li>
                                <li><i class="icon-user"></i> <a href="#">Admin</a></li>
                                <li><i class="icon-comment"></i> <a href="#">5 Comments</a></li>
                                <li><i class="icon-tags"></i> <a href="#">photoshop</a>, <a href="#">tutorials</a>, <a href="#">illustration</a></li>
                            </ul>
                        </div>
                    </div>
                </article>


            </div>

            <!-- Blog Sidebar
            ================================================== -->

            <aside role="complementary">
                <div class="span4 sidebar">
                    <!--Search-->
                    <section>
                        <div class="input-append">
                            <form action="#">
                                <input id="appendedInputButton" size="16" type="text" placeholder="Search"><button class="btn" type="button"><i class="icon-search"></i></button>
                            </form>
                        </div>
                    </section>
                    <section>
                        <!--Categories-->
                        <h5 class="title-bg">Categories</h5>
                        <ul class="post-category-list">
                            @foreach (var cat in Blog.GetCategories())
                            {
                                <li><a href="~/category/@HttpUtility.UrlEncode(cat.Key.ToLowerInvariant())"><i class="icon-plus-sign"></i>@cat.Key (@cat.Value)</a></li>

                            }
                        </ul>
                    </section>
                    <section>
                        <!--Popular Posts-->
                        <h5 class="title-bg">Popular Posts</h5>
                        <ul class="popular-posts">
                            <li>
                                <a href="#"><img src="img/gallery/gallery-img-2-thumb.jpg" alt="Popular Post"></a>
                                <h6><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></h6>
                                <em>Posted on 09/01/15</em>
                            </li>
                            <li>
                                <a href="#"><img src="img/gallery/gallery-img-2-thumb.jpg" alt="Popular Post"></a>
                                <h6><a href="#">Nulla iaculis mattis lorem, quis gravida nunc iaculis</a></h6>
                                <em>Posted on 09/01/15</em>
                            <li>
                                <a href="#"><img src="img/gallery/gallery-img-2-thumb.jpg" alt="Popular Post"></a>
                                <h6><a href="#">Vivamus tincidunt sem eu magna varius elementum maecenas felis</a></h6>
                                <em>Posted on 09/01/15</em>
                            </li>
                        </ul>
                    </section>
                                    </div>
            </aside>
        </div>

    </div> <!-- End Container -->
    <!-- Footer Area
        ================================================== -->
    <footer>
        <div class="footer-container">
            <!-- Begin Footer -->
            <div class="container">
               <div class="row footer-row">@*
    <div class="span3 footer-col">
        <h5>About Us</h5>
        <img src="img/piccolo-footer-logo.png" alt="Piccolo" /><br /><br />
        <address>
            <strong>Design Team</strong><br />
            123 Main St, Suite 500<br />
            New York, NY 12345<br />
        </address>
        <ul class="social-icons">
            <li><a href="#" class="social-icon facebook"></a></li>
            <li><a href="#" class="social-icon twitter"></a></li>
            <li><a href="#" class="social-icon dribble"></a></li>
            <li><a href="#" class="social-icon rss"></a></li>
            <li><a href="#" class="social-icon forrst"></a></li>
        </ul>
    </div>
    <div class="span3 footer-col">
        <h5>Latest Tweets</h5>
        <ul>
            <li><a href="#">@@room122</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li><a href="#">@@room122</a> In interdum felis fermentum ipsum molestie sed porttitor ligula rutrum. Morbi blandit ultricies ultrices.</li>
            <li><a href="#">@@room122</a> Vivamus nec lectus sed orci molestie molestie. Etiam mattis neque eu orci rutrum aliquam.</li>
        </ul>
    </div>
    <div class="span3 footer-col">
        <h5>Latest Posts</h5>
        <ul class="post-list">
            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li><a href="#">Consectetur adipiscing elit est lacus gravida</a></li>
            <li><a href="#">Lectus sed orci molestie molestie etiam</a></li>
            <li><a href="#">Mattis consectetur adipiscing elit est lacus</a></li>
            <li><a href="#">Cras rutrum, massa non blandit convallis est</a></li>
        </ul>
    </div>
    <div class="span3 footer-col">
        <h5>Flickr Photos</h5>
        <ul class="img-feed">
            <li><a href="#"><img src="img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
            <li><a href="#"><img src="img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
            <li><a href="#"><img src="img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
            <li><a href="#"><img src="img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
            <li><a href="#"><img src="img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
            <li><a href="#"><img src="img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
            <li><a href="#"><img src="img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
            <li><a href="#"><img src="img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
            <li><a href="#"><img src="img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
            <li><a href="#"><img src="img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
            <li><a href="#"><img src="img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
            <li><a href="#"><img src="img/gallery/flickr-img-1.jpg" alt="Image Feed"></a></li>
        </ul>
    </div>*@
    </div>

                <div class="row">
                    <!-- Begin Sub Footer -->
                    <div class="span12 footer-col footer-sub">
                        <div class="row no-margin">
                            <div class="span6">




                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <span class="pull-right">
                                        <a href="@FormsAuthentication.LoginUrl?ReturnUrl=@Request.RawUrl">Sign in <i class="glyphicon glyphicon-log-in"></i></a>
                                    </span>
                                }
                                <span class="left" role="contentinfo" itemscope itemtype="http://schema.org/Person" itemprop="author">
                                    Copyright &copy; @DateTime.Now.Year
                                    <a href="http://jamesfuller.net" itemprop="url name">James Fuller</a>
                                </span>
                            </div>
                            <div class="span6">
                                <span class="right">
                                    <a href="#">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Features</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Gallery</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Blog</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Contact</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- End Sub Footer -->
                </div>
                

            </div>
        </div><!-- End Footer -->
    </footer>
    <!-- end -->
    @if ((Blog.CurrentPost != null && Blog.CurrentPost.AreCommentsOpen(Context)) || Blog.IsNewPost)
    {
        <script src="@Blog.FingerPrint("/scripts/comments.js")" async defer></script>
    }

    @if (User.Identity.IsAuthenticated)
    {
        @RenderPage("~/views/AdminMenu.cshtml")
    }

</body>
</html>

@helper AdminCss()
{
    if (User.Identity.IsAuthenticated)
    {
        <link href="@Blog.FingerPrint("/css/admin.css")" rel="stylesheet" />
    }
}
